* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --white: (#fff);
}

html {
    box-sizing: border-box;
    font-size: 16px;
    background-color: var(--white);
}



/* FOOTER SECTION */

.attribution {
    font-size: 1rem;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}